.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: -webkit-linear-gradient(
  //   to right bottom,
  //   #141e30,
  //   #243b55
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right bottom, #141e30, #243b55);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;

    & > * {
      margin-bottom: 10px;
    }

    // .text {
    //   div::before {
    //     border-bottom: 1px solid #bfbfbf;
    //   }
    //   div::after {
    //     border-bottom: 1px solid #bfbfbf;
    //   }
    //   label {
    //     color: rgba(255, 255, 255, 0.5);
    //   }
    //   input {
    //     color: #bfbfbf;
    //   }
    // }
  }
}
